.header__exit {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  text-align: right;
  background-color: black;
  border: none;

  color: #a9a9a9;
  padding: 0;
  margin-left: 24px;
}
.header__exit:hover {
    opacity: 0.8;
}