.profile__job {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 336px;
}

@media screen and (max-width: 768px) {
    .profile__job {
        font-size: 16px;
        max-width: 200px;
        margin-top: 10px;
        margin: auto;
    }
}

@media screen and (max-width: 320px) {
    .profile__job {
        max-width: 282px;
        margin-bottom: 36px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}