.element__like {
    background-image: url(../../../images/Vector.svg);
    border: none;
    background-color: white;
    width: 22px;
    height: 19px;
    padding: 0;
    align-self: center;
    background-repeat: no-repeat;
}

.element__like:hover:not(:active) {
    opacity: 0.5;
    cursor: pointer;
}

/* .element__like:active {
    background-image: url(../../../images/like-active.svg);
    color: black;
    cursor: pointer;
} */